speechbrain/
*.wav
qsub_logs/*
prelim_evals/tmp/*
playground/*
prelim_evals/*.mp3
prelim_evals/.ipynb_checkpoints/*
prelim_evals/preds/*
misc/*
prelim_evals/results*
tmp/
outputs/*
representation_space/outputs/*
representation_space/accent_subspaces_outputs/*
representation_space/heatmap_from_csv.py
wandb/*
*pycache*
.vscode/*
packages.txt
lid_with_ssl_units/train_logs/*
core*
lid_with_ssl_units/pooled_codevectors.png
*.ipynb
lid_with_phoneme_transcription/wav2vec2phoneme_test.py
utils/wav2vec2phoneme_map/wav2vec2phoneme_map.json
lid_with_phoneseqs/train_logs/*
prelim_evals/qsub_logs/*
utils/results_formatting/*
utils/misc/*.csv
